.greetings {
    display: inline;
    font-size: 32px;
}

.titles {
    font-size: 17px;
}

.rows {
    font-size: 13px;
}

.total {
    display: block;
    font-size: 15px;
    font-style: oblique;
}

ion-title{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

ion-label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

ion-col{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}



